<footer class="bg-opacity">
  <div class="container text-center">
    <div class="row">
        <div class="col-lg-5 col-xs-12 about-company">
          <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ if .Site.Params.logo }} <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}"> {{ else }} {{ .Site.Title }} {{ end }}</a>
          <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
        </div>
        <div class="col-lg-3 col-xs-12 links">
          <ul class="list-inline footer-menu">
            {{ range .Site.Menus.main }}
            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
              <a class="page-scroll" href="#{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
            {{ range .Site.Menus.external }}
            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
              <a class="page-scroll" href="{{ .URL }}" target="_blank">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
        <div class="col-lg-3 col-xs-12 links">
          <ul class="list-inline footer-menu">
              {{ range $.Site.Home.AllTranslations }}
              <li class="list-inline-item bg-transparent border-0 p-0 mb-2"><a class="page-scroll" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
              {{ end }}
          </ul>
          <ul class="list-inline footer-menu">
                <p class="copyright-text"><a href="https://github.com/geobretagne/mviewer"><i class="d-inlin-block h2 mb-10 tf-ion-social-github"></i></a></p>
          </ul>
        </div>
        <div class="col-md-12">
          <div class="block">
            <p class="copyright-text">{{ .Site.Params.copyright | markdownify }}</p>
          </div>
        </div>
    </div>
  </div>
</footer>


{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "script.js" }}
<script src="{{ $script.Permalink }}"></script>
